@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

.content{
    padding:5px;
    border-radius: 24px;
    width: 20%;
    height: 38px;
    background:#BB71DD;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    font-style: normal;
}