@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

.header {
    background-image: url('../../assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 512px;
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
}

.icon {
    width: 129px;
    height: 87px;
}

.title {
    font-family: 'Iceberg', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 98px;
    color: white;
}

.title-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top:1% ;

}